:root {
    --cobalt: #28308C; 
    --golden: #FFD13D;
    --green: #14AA5D;
    --raisin: #2E1F27;
    --salmon: #E44F59;
}

html {
    font-size: 100%;
}

body {
    font-family: "Raleway", sans-serif;
    color: var(--cobalt);
}

.em {
    font-style: italic;
}

.strong {
    font-weight: 600;
}

.container {
    padding: 0;
    border: 1px red solid;
    max-width: 475px;
}

.separator {
    width: 75px;
    border-bottom: 5px solid var(--green);
    margin: 0 auto 1rem;
}

h2, h3 {
    font-family: "Cabin", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

#main-nav {
    padding: 5px;
    background-color: var(--cobalt);
}

.navbar.scrolled {
    opacity: .97;
    transition: opacity 1s;
}

#main-nav .navbar-brand img {
    width: 3rem;
    padding-right: 0.5rem;
}

#main-nav .nav-link {
    font-family: "Cabin", sans-serif;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    transition: background 300ms;
}

#main-nav .nav-link:hover {
    background-color: var(--yellow);
    /* color: rgba(255,255,255,.5); */
    color: var(--cobalt);
}

header {
    background-color: var(--cobalt);
    height: 100vh;
}

header .d-flex {
    height: 90%;
}

header .img-fluid, 
.about .img-fluid {
    max-width: 45%;
    margin: 1rem auto;
}

header p {
    font-family: "Cabin", sans-serif;
    font-size: 2rem;
    color: white;
    margin: 0.5rem 0 0;
    letter-spacing: 0.04em;
}

.about,
.explore,
.teacher {
    padding: 0 1.75rem;
    border: 1px red solid;
    max-width: 475px;
    margin: 0 auto;
    text-align: center;
}

.motto ul li:first-letter {
    font-size: 1.25rem;
    font-weight: 600;
}

.dabbles {
    background-color: var(--yellow);
    color: var(--raisin);
    max-width: 475px;
    margin: 0 auto;
}

.dabbles button {
    background-color: var(--green);
    color: white;
    margin-bottom: 2rem;
}

.dabbles button:hover,
.dabbles button:active {
    background-color: var(--raisin);
    color: white;
}

.dabbles a {
    color: var(--raisin);
}

/* #think:hover, 
#think:active {
    color: var(--salmon);
}
#learn:hover, 
#learn:active {
    color: var(--golden);
}
#do:hover, 
#do:active {
    color: var(--green);
}

.em {
    font-style: italic;
}

.strong {
    font-weight: 600;
} */