:root {
    --cobalt: #28308C; 
    --golden: #FFD13D;
    --green: #14AA5D;
    --raisin: #2E1F27;
    --salmon: #E44F59;
}

html {
    font-size: 100%;
}

body {
    font-family: "Raleway", sans-serif;
    color: var(--cobalt);
}

/* -------
Navigation
 */

 #main-nav {
    padding: 0; 
}

#nav-container {
    background-color: var(--cobalt);
}

#nav-container.scrolled {
    background-color: var(--golden);
    transition: background 500ms;
}

#main-nav .navbar-brand {
    color: white;
}

#main-nav .navbar-brand:hover {
    color: var(--golden);
}

#main-nav .navbar-brand img {
    width: 3rem;
    padding-left: 5px;
}

#main-nav a.navbar-brand.scrolled {
    color: var(--cobalt);
}

#main-nav a.navbar-brand.scrolled:hover {
    color: white;
}

#main-nav .nav-link {
    font-family: "Cabin", sans-serif;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 14px;
    transition: background 300ms;
}

#main-nav .nav-link:hover {
    background-color: var(--golden);
    color: var(--raisin);
}

#main-nav a.nav-link.scrolled {
    color: var(--cobalt);
}

#main-nav a.nav-link.scrolled:hover {
    background-color: var(--cobalt);
    color: white;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#FFF' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-dark .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#FFD13D' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler-icon.scrolled {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#28308C' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler-icon.scrolled:hover {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#FFF' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

/* ----------
Content Style 
*/

.em {
    font-style: italic;
}

.strong {
    font-weight: 600;
}

.container {
    padding: 0;
    max-width: 475px;
}

.separator {
    width: 75px;
    border-bottom: 5px solid var(--green);
    margin: 0 auto 1rem;
}

h2, h3 {
    font-family: "Cabin", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

header {
    background-color: var(--cobalt);
    height: 100vh;
}

header .d-flex {
    height: 90%;
}

header .img-fluid, 
.about .img-fluid {
    max-width: 45%;
    margin: 1rem auto;
}

header p {
    font-family: "Cabin", sans-serif;
    font-size: 2rem;
    color: white;
    margin: 0.5rem 0 0;
    letter-spacing: 0.04em;
}

#think:hover {
    color: var(--salmon);
}
#learn:hover {
    color: var(--golden);
}
#do:hover {
    color: var(--green);
}

.about,
.explore,
.teacher {
    padding: 0 1.75rem;
    max-width: 475px;
    margin: 0 auto;
    text-align: center;
}

.motto ul li:first-letter {
    font-size: 1.25rem;
    font-weight: 600;
}

.explore a {
    text-decoration: none;
    color: var(--salmon);
}

.explore a:hover {
    color: var(--green);
}

.explore a:visited {
    color: #9F373E;
}

.explore a:visited:hover {
    color: var(--green);
}

.teacher {
    background-color: var(--salmon);
    color:  #d9d9d9;
    font-size: 0.9rem;
    padding-top: 0.5rem;
}

.dabbles {
    background-color: var(--golden);
    color: var(--raisin);
    max-width: 475px;
    margin: 0 auto 2rem;
}

.dabbles h2 {
    margin-top: 1.5rem;
}

.dabbles button {
    background-color: var(--green);
    color: white;
    margin-bottom: 0.5rem;
}

.dabbles button:hover {
    background-color: var(--raisin);
    color: white;
}

.dabbles ul {
    margin: 0;
    text-align: center;
}

#dabble-collapse li {
    display: inline-block;
    padding: 1.5rem;
}

.dabbles a {
    padding: 0.2rem;
    color: var(--raisin);
    text-decoration: none;
}

.dabbles a:hover {
    color: var(--salmon);
    border-top: 1px solid var(--raisin);
    border-bottom: 1px solid var(--raisin);
}

.copyright {
    color: var(--raisin);
    font-size: 0.9rem;
    text-align: center;
    padding: 1rem 0;
}

/* --------
Media Query 
*/
@media (max-width: 960px) and (orientation: landscape) {
    header .img-fluid {
    max-width: 20%;
    }
    header p {
        font-size: 1.5rem;
    }
}