/* 
    +++++
    Style
    +++++ 
*/
:root {
    --cobalt: #28308C; 
    --golden: #FFD13D;
    --green: #14AA5D;
    --raisin: #2E1F27;
    --salmon: #E44F59;
}

html {
    font-size: 16px;
}

#main-nav {
    background-color: var(--cobalt);
}

#main-nav .navbar-brand img{
    width: 3rem;
    padding-right: 0.5rem;
}

/* #think:hover, 
#think:active {
    color: var(--salmon);
}
#learn:hover, 
#learn:active {
    color: var(--golden);
}
#do:hover, 
#do:active {
    color: var(--green);
}

.em {
    font-style: italic;
}

.strong {
    font-weight: 600;
} */