/* 
    +++++
    Style
    +++++ 
*/
:root {
    --cobalt: #28308C; 
    --golden: #FFD13D;
    --green: #14AA5D;
    --raisin: #2E1F27;
    --salmon: #E44F59;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    color: var(--cobalt);
    font-weight: 400;
    margin: 0;
}

#header-bkg {
    background-color: var(--cobalt);
    width: 100%;
    padding-bottom: 1rem;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: var(--salmon);
    padding-bottom: 6.5vh;
}

.separator {
    width: 70%;
    margin: 0 auto;
    border-bottom: 5px solid var(--green);
}

/* 
    ++++++++++
    Navigation 
    ++++++++++
*/
nav {
    background-color: var(--cobalt);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7vh;
}

nav ul {
    margin: 0;
    height: 7vh;
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-around;
    align-items: center;
}

/* 
    ++++++
    Layout 
    ++++++
*/
.wrapper {
    max-width: 475px;
    margin: 0 auto;
}

#logo-slogan {
    text-align: center;
}

header img {
    max-width: 45%;
}

#about-me img {
    width: 50%;
    display: block;
    margin: 1rem auto;
}

#about-me, #explore, #teachers p {
    padding: 0 2rem;
    font-size: 1.1rem;
}

#motto ul {
    list-style: none;
    padding: 0;
}
.dabbles h2 {
    margin-bottom: 0;
}

#dabbles ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

#dabbles li {
    display: inline-block;
    vertical-align: top;
    padding: 1rem;
    justify-content: space-around;
}

#dabbles a {
    padding: .5rem;
    text-align: center;
    border-radius: 25%;
}

footer img {
    width: 100%;
}

/* 
    ++++++++++
    Typography 
    ++++++++++
*/
.em {
    font-style: italic;
}

.strong {
    font-weight: 600;
}

nav a {
    font-family: "Raleway" , sans-serif;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

nav a:hover,
nav a:active {
    color: var(--green);
}

a.current-link {
    color: var(--green);
}

#explore a {
    text-decoration: none;
    color: var(--green);
}

#explore a:hover,
#explore a:active,
#explore a:visited {
    color: var(--salmon);
}

h2, h3 {
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    color: var(--cobalt);
    text-align: center;
}

#logo-slogan p{
    color: white;
    font-family: "Cabin", sans-serif;
    margin: 1rem auto 0;
    font-size: 2rem;
    letter-spacing: 0.04em;
}

#think:hover, 
#think:active {
    color: var(--salmon);
}
#learn:hover, 
#learn:active {
    color: var(--golden);
}
#do:hover, 
#do:active {
    color: var(--green);
}

main {
    line-height: 1.5em;
    letter-spacing: .02em;
}

#motto ul li {
    display: block;
    font-style: italic;
}

#motto ul li:first-letter {
    font-size: 1.25rem;
    font-weight: 600;
}

#teachers p {
    color: var(--raisin);
    font-size: .95rem;
    font-style: italic; 
    text-align: center;
}

#dabbles h2 {
    color: white;
}

#dabbles a {
    color: white;
    text-decoration: none;
}

#dabbles a:hover,
#dabbles a:active {
    background-color: var(--cobalt);
}

/* 
    +++++++++++
    Media Query
    +++++++++++
*/
@media (max-width: 960px) and (orientation: landscape) {
    nav {
        height: 10vh;
    }

    nav ul {
        height: 10vh;
    }

    #logo-slogan {
        display: flex; 
    }

    #logo-slogan p {
        padding: .5rem;
        margin: auto auto;
    }

    header img {
        display: inline-block;
        height: 8rem;
        margin: .75rem;
    }
}
