:root {
    --golden: #FFD13D;
    --green: #8BD4A0;
    --salmon: #E44F59;

    --ff-header: 'Josefin Sans', sans-serif;
    --ff-body: 'Titillium Web', sans-serif;
    --ff-tagline: 'Satisfy', cursive;

    --fs-body: 1.1rem;
    --fs-navlink: 1.2rem;
    --fs-tagline: 3rem;
    --fs-heading-page: 1.5rem;
}

/* BACKGROUND COVER */

html {
    /* TODO Add background color fallback */
    background-image: url(/images/western.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.bkg-dark-md {
    background-color: rgba(0, 0, 0, 0.75);
}

/* GENERAL STYLES */

body {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    line-height: 1.4;
}

img {
    display: block;
    max-width: 100%;
}

.body-grid {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(150px, 300px) minmax(350px, 1fr);
}

.display-none {
    display: none;
}

/* TYPOGRAPHY */

.strikethrough {
    text-decoration: line-through;
    text-decoration-style: double;
}

.content-body .highlight {
    color: var(--green);
}

/* SIDEBAR  */

#sidebar {
    background-color:rgba(0, 0, 0, 0.90);
    padding: 1.5rem 1.5rem;
}

.sidebar-logo {
    max-width: 75px;
}

.sidebar-header {
    color: white;
    font-family: var(--ff-header);
    font-weight: 400;
    text-transform: uppercase;
}

.sidebar-nav, 
.mobile-nav {
    font-family: var(--ff-header);
    font-weight: 400;
    font-size: var(--fs-navlink);
    line-height: 2rem;
    text-transform: uppercase;
}

#sidebar ul,
.mobile-nav ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul a,
.mobile-nav ul a {
    color: var(--salmon);
    text-decoration: none;
}

#sidebar ul a:hover,
.mobile-nav ul a:hover {
    color: var(--green);
}

.social-list {
    display: flex;
}

.social-list a {
    font-size: var(--fs-navlink);
    padding-right: 1rem;
}

/* PAGE CONTENT */

#content {
    min-width: 400px; 
    color: white;
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr;
    place-items: center;
    padding: 2rem;
}

h3.home {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1rem;
    border-radius: .3rem;
    font-family: var(--ff-tagline);
    font-size: var(--fs-tagline);
    color: var(--green);
}

.content-title {
    font-family: var(--ff-header);
    font-size: var(--fs-heading-page);
    text-align: center;
    text-transform: uppercase;
    color: var(--green);
    width: 100%;
}

.content-body {
    max-width: 600px;
    height: 100vh;
    text-align: justify;
    overflow-y: auto;
}

/* PAGE CONTENT CARDS */

.content-body-card {
    max-width: 450px;
    border: 1px solid #797979;
    border-radius: 0 0 .5rem .5rem;
}

.card-img {
    background-size: cover;
    background-position: center;
}

.card-content {
    background-color:rgba(0, 0, 0, 0.90);
    border-radius: 0 0 .5rem .5rem;
    padding: 1rem;
}

/* MOBILE NAV */

#footer { 
    background-color:black;
    width: 100%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
}

#footer .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.mobile-nav-logo {
    display: flex;
}
.mobile-nav-logo img {
    max-width: 60px;
}

.mobile-nav-title {
    font-family: var(--ff-header);
    font-weight: 400;
    font-size: 2rem;
    color: white;
    margin: 0;
}

.footer-nav {
    text-align: center;
    justify-content: center;
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
    #sidebar {
        display: none;
    }

    .body-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1025px) {
    #footer {
        display: none;
    }
}

@media (max-width: 800px) {
    #content {
        grid-template-columns: 1fr; 
    }
}



