:root {
    --golden: #fde38e;
    --green: #8BD4A0;
    --salmon: #E44F59;
    --white:  #dbdbdb;

    --ff-header: 'Josefin Sans', sans-serif;
    --ff-body: 'Titillium Web', sans-serif;
    --ff-tagline: 'Satisfy', cursive;

    --fs-body: 1.1rem;
    --fs-navlink: 1.2rem;
    --fs-tagline: 3rem;
    --fs-heading-page: 1.5rem;
}

/* BACKGROUND COVER */

.bkg-dark-md {
    background-color: rgba(0, 0, 0, 0.75);
}

.bkg-western {
    background-image: url(/images/western.jpg);
}
/* --- */
/* GENERAL STYLES */
/* --- */

body {
    height: 100vh;
    width: 100vw;
    background-image: url(/images/tribune.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    line-height: 1.4;
}

img {
    display: block;
    max-width: 100%;
}

.body-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(150px, 300px) minmax(350px, 1fr);
}

.display-none {
    position: absolute;
    opacity: 0;
    /* display: none; */
}

/* --- */
/* TYPOGRAPHY */
/* --- */

.strikethrough {
    text-decoration: line-through;
    text-decoration-style: double;
}

.content-body .highlight {
    color: var(--golden);
}

/* --- */
/* SIDEBAR  */
/* --- */

#sidebar {
    background-color:rgba(0, 0, 0, 0.90);
    padding: 1.5rem 1.5rem;
}

.sidebar-logo {
    max-width: 75px;
}

.sidebar-header a {
    color: var(--white);
    font-family: var(--ff-header);
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    transition-property: color;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.sidebar-header a:hover {
    color: var(--golden);

}

.sidebar-nav, 
.mobile-nav {
    font-family: var(--ff-header);
    font-weight: 400;
    font-size: var(--fs-navlink);
    line-height: 2rem;
    text-transform: uppercase;
}

#sidebar ul,
.mobile-nav ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul a,
.mobile-nav ul a {
    color: var(--salmon);
    text-decoration: none;
    transition-property: color;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

#sidebar ul a:hover,
.mobile-nav ul a:hover {
    color: var(--green);
}

.social-list a {
    font-size: var(--fs-navlink);
}

.social-list li {
    line-height: 2rem;
}

.social-list i {
    padding-right: .5rem;
}

/* --- */
/* PAGE CONTENT */
/* --- */

#content {
    overflow: hidden;
    color: rgb(230, 230, 230);
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr;
    padding: 3rem 2rem 3rem 2rem;
}

h3.home {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1rem;
    border-radius: .3rem;
    font-family: var(--ff-tagline);
    font-size: var(--fs-tagline);
    color: var(--green);
}

.content-title {
    font-family: var(--ff-header);
    font-size: var(--fs-heading-page);
    text-align: center;
    text-transform: uppercase;
    color: var(--green);
    width: 100%;
}

.content-body {
    padding: 0 1.2rem;
    justify-self: center;
    max-width: 600px;
    text-align: justify;
    overflow-y: auto;
}

.content-body .home {
    text-align: center;
}

.content-body a {
    color: var(--salmon);
    text-decoration: none;
    border-bottom: 1px dashed var(--golden);
    padding-bottom: 2px;
}

.content-body a:hover {
    color: var(--green);
}

blockquote {
    border-left: 2px solid var(--green);
    margin-left: 1rem;
    padding-left: 2rem;
    font-style: italic;
}

/* --- */
/* PAGE CONTENT CARDS */
/* --- */

.content-body-card {
    margin: auto;
    max-width: 450px;
    border-radius: 0 0 .5rem .5rem;
}

.card-img {
    background-size: cover;
    background-position: center;
}

.card-content {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.90);
    border-radius: 0 0 .5rem .5rem;
    border-top: .25rem solid var(--green);
    padding: 1rem 2rem;
    gap: .5rem;
}

.card-content-header h4 {
    margin: 0;
    text-transform: uppercase;
    font-family: var(--ff-header);
    font-size: var(--fs-body);
}

.card-content-caption h5 {
    padding: 0 .5rem;
    margin: 0;
    font-size: var(--fs-body);
    color: var(--green);
}

.card-content a {
    font-size: var(--fs-body);
    color: var(--salmon);
    text-decoration: none;
}

.card-content a:hover {
    color: var(--green);
}

/* --- */
/* MOBILE NAV */
/* --- */

#footer { 
    background-color:black;
    width: 100%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
}

#footer .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.mobile-nav-logo {
    display: flex;
}
.mobile-nav-logo img {
    max-width: 60px;
    align-self: center;
}

.nav-toggle {
    align-self: center;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: .3rem;
    padding: 0;
    background-color: var(--green);
}

.mobile-nav-title {
    font-family: var(--ff-header);
    font-weight: 400;
    font-size: 2rem;
    color: white;
    margin: 0;
}

.footer-nav {
    text-align: center;
    justify-content: center;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.mobile-nav-list li {
    margin-top: 20px;
}

.mobile-social-links {
    margin: auto;
}

.mobile-social-list {
    margin: 0 auto 2.5rem auto;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mobile-social-list a {
    color: var(--salmon);
    text-decoration: none;
}

.mobile-social-list a:hover {
    color: var(--green);
}

.mobile-social-list li {
    margin-top: 1.5rem;
    padding: 0 20px;
}

/* --- */
/* MEDIA QUERIES */
/* --- */

@media (max-width: 1024px) {
    #sidebar {
        display: none;
    }

    .body-grid {
        grid-template-columns: 1fr;
    }

    #content {
        margin-bottom: 90px;
    }
}

@media (min-width: 1025px) {
    #footer {
        display: none;
    }
}

@media (max-width: 800px) {
    #content {
        grid-template-columns: 1fr; 
        margin-bottom: 90px;
    }
}