:root {
    --golden: #FFD13D;
    --green: #8BD4A0;
    --salmon: #E44F59;
}

html {
    min-height: 100%;
    /* TODO Add background color fallback */
    background-image: url(/images/western.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.bkg-dark-md {
    background-color: rgba(0, 0, 0, 0.75);
}

.body-grid {
    /* height: 100%; */
    display: grid;
    grid-template-columns: minmax(150px, 275px) minmax(350px, 1fr);
}

/* SIDEBAR  */

#sidebar {
    color: white;
    background-color:rgba(0, 0, 0, 0.90);
}

/* PAGE CONTENT */

#content {
    height: 100vh;
    color: white;
    display: grid;
    grid-template-columns: minmax(200px, 300px) 1fr;
    /* place-items: center; */
}

.content-title {
    align-self: center;
    justify-self: center;
}

.content-body {
    /* width: 80%; */
    align-self: center;
    justify-self: center;
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
    #sidebar {
        display: none;
    }

    .body-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 800px) {
    #content {
        grid-template-columns: 1fr;
    }
}
