:root {
  --yellow: #FFD13D;
  --green: #65B598;
  --orange: #d84c36;
  --bkg-bwn: #291711;
  --header-bkg-blue: #011936;
  --nav-bkg-dark: rgba(58, 51, 53, 0.904);

}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: url(../images/background-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

.container {
  display: grid;
  grid-template: repeat(12, 1fr) / repeat(12, 1fr);
  height: 100%;
}

a:link {
  text-decoration: none;
}

.header {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  background-color: var(--bkg-bwn);
  padding: 2px 0 2px .5em;
}

.header a { 
  font-family: 'Josefin Sans', sans-serif;
  color: var(--yellow);
  font-size: 2.25em;
  text-transform: uppercase;
}

.header a:visited {
  color: var(--yellow);
}

.fa-lightbulb {
  color: var(--green);
}

.nav-link {
  background-color: var(--nav-bkg-dark);
  font-family: 'Josefin Sans', sans-serif;
  color: var(--orange);
  font-size: 2em;
  text-align: center;
  padding: 10px;
}
.nav-link a {
  margin: auto;
}

.nav-link a:visited {
  color: var(--orange);
}

.social ul {
  margin: 0;
  padding: 0;
}

.social li {
  display: inline;
  list-style: none;
}

.blog {
  grid-row: 11 / 13;
  grid-column: 1 / 4;
}

.projects {
  grid-row: 11 / 13;
  grid-column: 4 / 7;
}

.about {
  grid-row: 11 / 13;
  grid-column: 7 / 10;
}

.social {
  grid-row: 11 / 13;
  grid-column: 10 / -1;
}