:root {
  --yellow: #FFD13D;
  --green: #65B598;
  --pink: #EE4266;

}

body {
  background: url(../images/background-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Quattrocento Sans', sans-serif;
}

.container {
  height: 100%;
  display: grid;
  text-align: center;
}

.title a:link {
  text-decoration: none;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: var(--green);
  text-transform: uppercase;
  font-size: 4em;
  text-align: center;
}

h1 .fa-lightbulb {
  color: var(--yellow);
}
